<h1>Welcome to Coachify</h1>

<p>
  You have been invited to join Coachify by <%= @invitation.sender.full_name %>. Just click the link below and you will be on your way!
</p>
<p>
  <%= @signup_url %>
</p>
<p>
  Thanks,
</p>
<p>
  The Coachify Team
</p>
