<div class="row top-row" id="home-background">
  <div class="col-xs-12">
    <div class="hidden-xs">
      <h1 id="main-title-lg">The sky is the&nbsp;limit.</h1>
    </div>
    <div class="hidden-sm hidden-md hidden-lg">
      <h1 id="main-title-sm">The sky is the&nbsp;limit.</h1>
    </div>
    <div class="big-top">
      <p class="subheader-lg hidden-xs">
        Streamlined evaluation tools that make&nbsp;sales&nbsp;soar.
      </p>
      <p class="subheader-sm hidden-sm hidden-md hidden-lg">
        Streamlined evaluation tools that make&nbsp;sales&nbsp;soar.
      </p>
    </div>
    <div class="big-top">
      <button class="CTA-button-white center-block main-btn-margin">Learn More &raquo;</button>
    </div>
    <div id="nav-trigger">
      <p class="scroll-down hidden-xs">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </p>
    </div>
  </div>
</div>
<div class="row whitebg" id="header-done">
  <div class="hidden-xs col-sm-12">
    <h2 class="page-headline-lg">Data-driven sales evaluation that makes a difference.</h2>
  </div>
  <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <h2 class="page-headline-sm">Data-driven sales evaluation that makes a difference.</h2>
  </div>
</div>
<div class="row white-bg">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "eye.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">Make Observation Easy</h3>
        <p class="summary-text">
          Observing and evaluating is an important part of allowing your employees to grow, but in the past observation tools were slow, ugly, and not user-friendly. Coahcify solves this by making simple, quick and intuitive.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "growth.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">People-focused Growth</h3>
        <p class="summary-text">
          Proper feedback lets team members know where they are shining and where to focus their efforts for improvement. This allows growth for individuals, locations, and companies that is focused on the maximization of opportunity.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 home-icon">
        <%= image_tag "profit.png", class: "img-responsive center-block" %>
        <h3 class="summary-head">Cash In on Improvement</h3>
        <p class="summary-text">
          Continuous improvement means more effective teams and increased revenue on all levels of the company. Employees qualify for top-tier commissions and bonuses and companies experience increased revenue and cash flow
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row dark-bg">
  <div class="hidden-xs hidden-sm col-md-6">
    <p class="center big-words-lg">
      People.<br />
      Process.<br />
      Performance.
    </p>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg">
    <p class="center big-words-sm">
      People.<br />
      Process.<br />
      Performance.
    </p>
  </div>
  <div class="hidden-xs hidden-sm col-md-6">
    <p class="description-lg">
      The difference between a sales superstar and a dud usually boils down to their consistency from sale to sale. Although customers will want every product at a specific time, consistantly offering each and every option using the "power of expert" turns missed opportunities into confidence and sales. Following this kind of sales methodology will not only create expert salespeople, but also create customer loyalty and referral business to ensure the door keeps swinging.
    </p>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg">
    <p class="description-sm">
      The difference between a sales superstar and a dud usually boils down to their consistency from sale to sale. Although customers will want every product at a specific time, consistantly offering each and every option using the "power of expert" turns missed opportunities into confidence and sales. Following this kind of sales methodology will not only create expert salespeople, but also create customer loyalty and referral business to ensure the door keeps swinging.
    </p>
  </div>
</div>
<div class="row">
  <div class="hidden-xs hidden-sm col-md-12">
    <h3 class="center big-words-lg">Observe from any device!</h3>
  </div>
  <div class="col-xs-12 hidden-md hidden-lg">
    <h3 class="center big-words-sm">Observe from any device!</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= image_tag "responsive.jpg", class: "img-responsive center-block" %>
  </div>
</div>
