// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-header-image {
  width: 100%;
  height: auto;
  max-width: 900px;
  -ms-interpolation-mode: bicubic;
  align-content: center;
  margin: 5px auto;
}
