// Place all the styles related to the observations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#my-chart {
  width: 100%;
  height: auto;
  min-height: 400px;
}

.observation-list-button {
  border: 0px;
  background-color: transparent;
  font-size: 1.3em;
  color: #333;
}

.location-button {
  padding: 15px 15px;
  border: 2px solid #999;
  border-radius: 40px;
  font-size: 1.5em;
  color: #999;
  background-color: transparent;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}
.location-button:hover {
  padding: 15px 15px;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff8300;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}

.eval-button {
  padding: 15px 15px;
  border: 2px solid #999;
  border-radius: 40px;
  font-size: 1.5em;
  color: #999;
  background-color: transparent;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}
.eval-button:hover {
  padding: 15px 15px;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff8300;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}

.next-button {
  padding: 15px 15px;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 1.75em;
  color: #333;
  margin: 15px auto;
  text-align: center;
  width: 60%;
  background-color: transparent;
}

.next-button:hover {
  padding: 15px 15px;
  border: 2px solid #ff8300;
  border-radius: 10px;
  font-size: 1.75em;
  color: #fff;
  margin: 15px auto;
  text-align: center;
  width: 60%;
  background-color: #ff8300;
}

.slide-div {
  margin: 250px auto;
}

.chart-holder {
  margin: 15px 0;
}

.chart-holder h3 {
  border-bottom: 1px solid #999;
}

.underline {
  border-bottom: 1px solid #999;
}

.subject-submit {
  padding: 15px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fefefe;
  margin: 5px auto;
}
