// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-button {
  padding: 15px 15px;
  border: 2px solid #999;
  border-radius: 40px;
  font-size: 1.5em;
  color: #999;
  background-color: transparent;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}
.answer-button:hover {
  padding: 15px 15px;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff8300;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}

.question-text {
  font-size: 2.2em;
  font-weight: bold;
  padding: 15px auto;
  color: #ff8300;
  text-align: center;
}

.answer-list {
  list-style-type: none;
}

.question-box {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.finished-response {
  text-align: center;
  border: 2px solid #ff8300;
  border-radius: 6px;
  background-color: #333;
  padding: 45px;
  p {
    color: #fff;
    font-size: 1.35em;
    line-height: 35px;
  }
  h2 {
    font-size: 4.3em;
    color: #ff8300;
  }
}

#finished-button {
  margin: 35px auto;
  text-align: center;
}

.return-home {
  margin-top: 40px;
}
