// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.answer-button {
  padding: 15px 15px;
  border: 2px solid #999;
  border-radius: 40px;
  font-size: 1.5em;
  color: #999;
  background-color: transparent;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}
.answer-button:hover {
  padding: 15px 15px;
  border: 2px solid #fff;
  border-radius: 40px;
  font-size: 1.5em;
  color: #fff;
  background-color: #ff8300;
  margin: 15px auto;
  text-align: center;
  width: 90%;
}

.question-text {
  font-size: 2.2em;
  font-weight: bold;
  padding: 15px auto;
  color: #ff8300;
}

.answer-list {
  list-style-type: none;
}
